<div class="hero_home">
    <div id="slider" role="toolbar">
        <ul class="slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 7612px; transform: translate3d(-1903px, 0px, 0px);"
                    role="listbox">
                    <li class="list-secondary slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                        tabindex="-1" style="width: 1903px;">
                        <div class="section-inner">
                            <a class="button_cta" target="blank" href="#" tabindex="-1">
                                Click for Details
                            </a>
                        </div>
                    </li>
                    <li class="list-primary slick-slide slick-current slick-active" data-slick-index="0"
                        aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00"
                        style="width: 1903px;">
                        <div class="section-inner">
                            <h2>
                                <span>Big brands.</span>
                                <span>Low prices.</span>
                                <span>Free returns.</span>
                            </h2>
                            <a class="button_cta" href="https://www.lenspure.com/index/list/" tabindex="0">
                                shop by brands
                            </a>
                        </div>
                    </li>
                    <li class="list-secondary slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"
                        role="option" aria-describedby="slick-slide01" style="width: 1903px;">
                        <div class="section-inner">
                            <a class="button_cta" target="blank" href="https://info.lenspure.com/purerewards-referrals"
                                tabindex="-1">
                                Click for Details
                            </a>
                        </div>
                    </li>
                    <li class="list-primary slick-slide slick-cloned" data-slick-index="2" aria-hidden="true"
                        tabindex="-1" style="width: 1903px;">
                        <div class="section-inner">
                            <h2>
                                <span>Big brands.</span>
                                <span>Low prices.</span>
                                <span>Free returns.</span>
                            </h2>
                            <a class="button_cta" href="https://www.lenspure.com/index/list/" tabindex="-1">
                                shop by brands
                            </a>
                        </div>
                    </li>
                </div>
            </div>

            <ul class="slick-dots" style="display: block;" role="tablist">
                <li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true"
                    aria-controls="navigation00" id="slick-slide00">
                    <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">
                        1
                    </button>
                </li>
                <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01"
                    id="slick-slide01">
                    <button type="button" data-role="none" role="button" aria-required="false" tabindex="0">
                        2
                    </button>
                </li>
            </ul>
        </ul>
    </div>
</div>
<div class="menu_brand">
    <div class="section-inner">
        <ul>
            <li>
                <a href="https://www.lenspure.com/productlist/filter/brandId/1/">
                    <img src="../../assets/images/home_banner/logo-acuvue-w.png" alt="ACUVUE">
                </a>
            </li>
            <li>
                <a href="https://www.lenspure.com/productlist/filter/brandId/12/">
                    <img src="../../assets/images/home_banner/logo-air-optix-w.png" alt="AirOptix">
                </a>
            </li>
            <li>
                <a href="https://www.lenspure.com/productlist/filter/brandId/13/">
                    <img src="../../assets/images/home_banner/logo-dailies-w.png" alt="DAILIES">
                </a>
            </li>
            <li>
                <a href="https://www.lenspure.com/productlist/filter/brandId/3/">
                    <img src="../../assets/images/home_banner/logo-bausch-w.png" alt="BAUSCH+LOMB">
                </a>
            </li>
            <li>
                <a href="https://www.lenspure.com/productlist/filter/brandId/4/">
                    <img src="../../assets/images/home_banner/logo-coopervision-w.png" alt="CooperVision">
                </a>
            </li>
            <li>
                <a href="https://www.lenspure.com/productlist/filter/brandId/14/">
                    <img src="../../assets/images/home_banner/logo-freshlook1.png" alt="FRESHLOOK">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="product_spotlight">
    <div class="section-inner">
        <ul>
            <li class="spotlight_left">
                <a href="https://www.lenspure.com/goods/index/gc/J1M/?20190513-J1M">
                    <img class="spotlight_banner" src="../../assets/images/home_banner/featured_acuvue_moist.jpg"
                        alt="1 Day Acuvue Moist">
                </a>
            </li>
            <li>
                <a href="https://www.lenspure.com/goods/index/gc/J1T/?20190513-J1T">
                    <img class="spotlight_banner" src="../../assets/images/home_banner/featured_acuvue_trueye.jpg"
                        alt="1 Day Acuvue TruEye">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="first_customer">
    <div class="section-inner">
        <div>
            <p>
                FIRST TIME CUSTOMER?
                <span>On orders $88+</span>
            </p>
            <h3>
                $10 OFF
                <span>&amp;</span>
                FREE SHIPPING
            </h3>
            <p class="coupon">
                <span>USE CODE: WLCM</span>
            </p>
            <a href="https://www.lenspure.com/customer/inputentry/">Register now</a>
        </div>
    </div>
</div>
<div class="featured_products">
    <div class="section-inner">
        <h2>Featured Products</h2>
        <ul>
            <li>
                <div class="images">
                    <a href="https://www.lenspure.com/goods/index/gc/J1MR/">
                        <img src="../../assets/images/products/J1MR.png" class="attachment-shop_catalog wp-post-image"
                            alt="1 Day Acuvue Define Radiant Sweet with LACREON">
                    </a>
                </div>
                <div class="product-listing-info">
                    <a href="https://www.lenspure.com/goods/index/gc/J1MR/">
                        <h3>
                            1 Day Acuvue Define Radiant Sweet with LACREON
                        </h3>
                    </a>
                    <span class="price">
                        <ins>
                            <span class="amount">
                                <span>USD</span>
                                $35.25
                            </span>
                        </ins>
                    </span>
                </div>
            </li>
            <li>
                <div class="images">
                    <a href="https://www.lenspure.com/goods/index/gc/C1A/">
                        <img src="../../assets/images/products/C1A.png" class="attachment-shop_catalog wp-post-image"
                            alt="DAILIES AquaComfort Plus">
                    </a>
                </div>
                <div class="product-listing-info">
                    <a href="https://www.lenspure.com/goods/index/gc/C1A/">
                        <h3>DAILIES AquaComfort Plus</h3>
                    </a>
                    <span class="price">
                        <del>
                            <span class="amount">
                                <span>USD</span>
                                $30.99
                            </span>
                        </del>
                        <ins>
                            <span class="amount">
                                <span>USD</span>
                                $21.25
                            </span>
                        </ins>
                    </span>
                </div>
            </li>
            <li>
                <div class="images">
                    <a href="https://www.lenspure.com/goods/index/gc/FL1/">
                        <img src="../../assets/images/products/FL1.png" class="attachment-shop_catalog wp-post-image"
                            alt="FreshLook One-Day">
                    </a>
                </div>
                <div class="product-listing-info">
                    <a href="https://www.lenspure.com/goods/index/gc/FL1/">
                        <h3>FreshLook One-Day</h3>
                    </a>
                    <span class="price">
                        <ins>
                            <span class="amount">
                                <span>USD</span>
                                $15.75
                            </span>
                        </ins>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="home_description">
    <div class="thumb">
        <img src="../../assets/images/home_banner/home-featured.jpg" alt="Contact Lenses at LensPure">
    </div>
    <div class="section-inner">
        <article>
            <h1>Contact Lenses at LensPure</h1>
            <h2>Your Vision Comes First</h2>
            <p>
                We want to offer you, our valued customer, with premium quality brand name contact lenses such as
                <a href="https://www.lenspure.com/productlist/filter/brandId/1/">Acuvue</a>
                ,
                <a href="https://www.lenspure.com/productlist/filter/brandId/12/">Air optix</a>
                ,
                <a href="https://www.lenspure.com/productlist/filter/brandId/13/">Dailies</a>
                ,
                <a href="https://www.lenspure.com/productlist/filter/brandId/3/">Bausch + Lomb</a>
                ,
                <a href="https://www.lenspure.com/productlist/filter/brandId/4/">CooperVision</a>
                and
                <a href="https://www.lenspure.com/productlist/filter/brandId/14/">Freshlook</a>
                with user friendly ordering process and an exceptional customer service experience from our Customer
                Support team.
            </p>
            <p>
                We're making it convenient for you to get your contact lenses with a low flat rate shipping fee and the
                ability to deliver your products anywhere in the US.
            </p>
        </article>
    </div>
</div>