<footer id="footer" class="page-section">

        <div class="modal-window" id="modal-wechat">
            <div class="modal-inner">
                <p>Follow us on WeChat for exclusive deals!</p>
                <img alt="qrcode" src="../../assets/images/payment/qrcode_wechat.jpg">
                <span><strong>ID: LensPure_US</strong><br>or save the QR code and scan in WeChat.</span>
                <a href="https://www.lenspure.com/#!" class="close">× Close</a>
            </div>
            <a href="https://www.lenspure.com/#!" class="modal-close">×</a>
        </div>

        <div class="f-w1">
            <div class="f-w2 section-inner">
                <div class="row">
                    <div id="social-media">
                        <div class="title">Stay Connected</div>
                        <ul>
                            <li class="facebook"><a href="https://www.facebook.com/LensPure-1808693172675473/" target="_blank">Facebook</a></li>
                            <li class="twitter"><a href="https://twitter.com/lenspure" target="_blank">Twitter</a></li>
                            <li class="instagram"><a href="https://www.instagram.com/lenspure/" target="_blank">Instagram</a></li>
                            <li class="wechat"><a href="https://www.lenspure.com/#modal-wechat">Wechat</a></li>
                            <li class="pinterest"><a href="https://www.pinterest.ca/lenspure/boards/" target="_blank">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div id="footer-summary">
                        <div class="title">Who We Are</div>
                        <p>We're a premium online retailer of brand name contact lenses. We're committed to providing our customers with a great vision experience and exclusive deals through our email subscription list. <strong>Your vision comes first. Let us get you there.</strong></p>
                        
                    <div class="payment-logos">
                            <ul>
                                <li><img src="../../assets/images/payment/payment-01.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-02.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-03.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-04.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-05.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-06.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-07.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-08.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-10.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-11.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-12.png" alt=""></li>
                                <li><img src="../../assets/images/payment/payment-13.png" alt=""></li>
                            </ul>
                        </div></div>
                    <div id="bottomlinks" class="nav">
                        <ul id="menu-footer-links" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a>About Us</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/company/company/">Our Story</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/inquiry/input/">Contact Us</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/special/affiliate/">Affiliates</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/index/sitemap/">Site Map</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/rule/">Terms &amp; Conditions</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/privacy/">Privacy Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/articles/">Blog</a></li>
                            </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a>Customer Service</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/mypage/">My Account</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/faq/">FAQ</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/howto/payment/">Shipping &amp; Returns</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/howto/kounyu/">How to Place an Order</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/chase/input/">Track a Package</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://cashrewards.getambassador.com/login/" target="_blank">PureRewards Login</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://info.lenspure.com/purerewards-referrals" target="_blank">Join PureRewards</a></li>
                            </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a>Shop By</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/index/list/">Contact Lens Brands</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/productlist/filter/categoryId/1/">Daily Contact Lenses</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/productlist/filter/categoryId/2/">Weekly Contact Lenses</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/productlist/filter/categoryId/3/">Monthly Contact Lenses</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/productlist/filter/categoryId/4/">Color Contact Lenses</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.lenspure.com/special/sale/">Sale</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div id="copyright">
                        © 2019 LensPure.  All rights reserved.
                    </div>
                    <div id="company-info">
                    <p>118-6741 Cariboo Rd BURNABY, V3N 4A3 British Columbia, Canada<br>604 421 6040</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
